<p>
  <label>Client ID:</label>
  <%= text_field_tag 'settings[client_id]', @settings[:client_id] %>
</p>
<p>
  <label>Client Secret:</label>
  <%= text_field_tag 'settings[client_secret]', @settings[:client_secret] %>
</p>
<p>
  <label>Access Token:</label>
  <%= text_field_tag 'settings[access_token]', @settings[:access_token] %>
  <%= link_to l(:access_token), oauth_ngames_path() %>
</p>
<p>
  <label>Turn on Admin Super auth (Test Only!)</label>
  <%= check_box_tag "settings[adminauth]", true, @settings[:adminauth] %>
</p>
<p>
  <label>Oauth authentification:</label>
  <%= check_box_tag "settings[oauth_authentification]", true, @settings[:oauth_authentification] %>
</p>
