<h2><%=l(:label_register)%> <%=link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h2>

<%= labelled_form_for @user, :url => register_path do |f| %>
<%= error_messages_for 'user' %>

<div class="box tabular">
<% if @user.auth_source_id.nil? %>
  <p><%= f.text_field :login, :size => 25, :required => true %></p>

  <p><%= f.password_field :password, :size => 25, :required => true %>
  <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em></p>

  <p><%= f.password_field :password_confirmation, :size => 25, :required => true %></p>
<% end %>

<p><%= f.text_field :firstname, :required => true %></p>
<p><%= f.text_field :lastname, :required => true %></p>
<p><%= f.text_field :mail, :required => true %></p>

<% unless @user.force_default_language? %>
<p><%= f.select :language, lang_options_for_select %></p>
<% end %>

<% if Setting.openid? %>
  <!--[Maple修改]-->
  <p><input type="button" onClick="location.href='<%= login_ngames_path(:verify => back_url) %>';document.getElementById('login_ngames').type='hidden';document.getElementById('input_loader').style.display='block';" id="login_ngames" name="login_ngames" value="<%=l(:field_identity_url)%> <%=l(:label_register)%> &#187;" tabindex="5"/></p><p id="input_loader" style="display:none;"><img src="/images/loader.gif"></p>
<% end %>

<% @user.custom_field_values.select {|v| v.editable? || v.required?}.each do |value| %>
  <p><%= custom_field_tag_with_label :user, value %></p>
<% end %>
</div>

<%= submit_tag l(:button_submit) %>
<% end %>
